version: "3.7"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aysha_training_db

    ports:
      - 5432:5432
    networks:
      - s-network
  app:
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    networks:
      - s-network


networks:
  s-network:
    driver: bridge